html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Gabarito', cursive;
}

nav li {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-link-about {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 0 24px;
}
.nav-link-projects {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 0 24px;
}
.nav-link-contact {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 0 24px;
}

 header {
     background-color: #FF579F;
     color: white;
     padding: 24px;
     border-radius: 8px;
     font-size: 16px;
     font-family: Century Gothic;
 }

img {
    border-radius: 50%;
    margin-top: 70px;
    margin-right: 70px;
}
a:hover {
    color: black;
}

#about {
    display: flex;
    justify-content: space-evenly;
}
    #about-heading {

        background-color: #FF579F;
        color: white;
        padding: 70px;
        border-radius: 8px;
        font-size: 32px;
        font-family: "Century Gothic";
    }
    #about-paragraph {

        background-color: #FBB13C;
        color: black;
        padding: 70px;
        border-radius: 8px;
        font-size: 20px;
        font-family: "Century Gothic";
    }
    #orange-section {
        background-color: #FBB13C;
        border-radius: 8px;
    }
    #projects-heading {

        background-color: #FF579F;
        color: white;
        padding: 20px;
        border-radius: 8px;
        font-size: 32px;
        font-family: "Century Gothic";
    }
    #projects-paragraph {

        background-color: #F2E94E;
        color: black;
        padding: 70px;
        border-radius: 8px;
        font-size: 20px;
        font-family: Century Gothic;
    }
    #contact-heading {

        background-color: #FF579F;
        color: white;
        padding: 20px;
        border-radius: 8px;
        font-size: 32px;
        font-family: "Century Gothic";
    }
    #contact-paragraph {

        background-color: #80E9B7;
        color: black;
        padding: 70px;
        border-radius: 8px;
        font-size: 20px;
        font-family: "Century Gothic";
    }
